@using Humanizer
@model DocumentShowViewModel

<div>
    <hgroup>
        <h2>Document Show : @Model!.Document.Name</h2>
        <h3>Get all the informations about the document including files</h3>
    </hgroup>
</div>

<div>
    @foreach (var tag in Model!.Document.Tags)
    {
        <kbd>@tag.Name</kbd>
    }
</div>

<article>
    <header>Informations</header>
    <div>
        <figure>
            <table role="grid">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Ext.</th>
                        <th scope="col">Last update</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in @Model!.Document.Files)
                    {
                        <tr>
                            <td>@file.Name</td>
                            <td>@file.Extension</td>
                            <td>@file.UpdatedAt.Humanize()</td>
                            <td>
                                <a download asp-action="Download" asp-route-id="@Model!.Document.Id" asp-route-fileId="@file.Id">Download</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </figure>
    </div>
</article>

@*<article v-if="props.document?.meta?.htmlDescription">
    <header>Description</header>
    <div>
    <span style="white-space: pre" v-html="props.document.meta.htmlDescription"></span>
    </div>
    </article>
*@