@using Humanizer
@model FoldersIndexViewModel

<div>
    <hgroup>
        <h2>Folders</h2>
        <h3>Show your folders</h3>
    </hgroup>
    <div>
        <a asp-action="Create" role="button">Create new folder</a>
    </div>
</div>

<article>
    <figure>
        <table role="grid">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Update</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model!.Folders.Any())
                {
                    @foreach (var item in Model!.Folders)
                    {
                        <tr>
                            <td>
                                <span class="dot" style="background-color: @item.Color"></span>
                            </td>
                            <td>@item.Name</td>
                            <td>@item.UpdatedAt.Humanize()</td>
                            <td>
                                <a asp-action="Index" asp-controller="Documents" asp-route-folderId="@item.Id">Documents</a>
                                <a asp-action="Show" asp-route-id="@item.Id">Show</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10" style="text-align: center">
                            <i>No folders</i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </figure>
</article>
